out
Debug
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
TestResults

graphimgs/
.config/
outfiles/

drawing/fsout/*
drawing/graphs/*

.fake
.vscode
*.DS_Store 

.config/dotnet-tools.json
